$sp: 415px; 
$tb: 760px;
$pc: 980px; 

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin tb {
  @media (min-width: $sp) and (max-width: $pc) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin content-wrapper{
  width: 740px;
  margin-right: auto;
  margin-left: auto; 
}
