@import url("https://use.typekit.net/brj5gjh.css");
@import "partials/ress.scss";
@import "partials/functions";
@import "partials/variables";
@import "partials/mixins";
@import "partials/logo";

html{
    font-family: $text-font;
    font-size: 62.5%;
    color: $theme-color;
    line-height: 1.8;
}

body{
    font-size: 1.6rem;
    @include sp{
        font-size: 1.5rem;
    }
}

img{
    max-width: 100%;
}

a{
    color: $theme-color;
    text-decoration: none;
    transition: 0.4s;
    &:hover{
        opacity: 0.7;
    }
}

ul,li{
    list-style: none;
}

h1, h2{
    font-family: $text-font;
}

*:focus {
    outline: none;
  }


.header{
    font-family: $headline-font;
    position: relative;
    background: #ffffff;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 40px;
    width: 100%;
    box-shadow: 0 5px 20px -5px rgba(0,0,0,.2);
    padding: 10px 0;
    @include tb{
        padding: 15px 0;
    }
    @include spandtb{
        position: fixed;
        z-index: 99;
    }
    & a{
        &:hover{
        color: $green-color!important;
    }
    }
    &__top{
        vertical-align: top;
    }
    &__logo{
        text-align: center;
        display: block;
        &--sp{
            @include pc{
            display: none;
            }
        }
        svg{
            vertical-align: bottom;
            width: 50px;
            height:auto;
            @include sp{
                width: 40px;
            }
        }
    }
    &__subnav{
        position: absolute;
        font-size: 2.5rem;
        top: 5px;
        right: 60px;
        letter-spacing: 1px;
        display: none;
        @include pc{
            display: block;
        }
    }
    &__gnav{
        display: none;
        font-size: 2.4rem;
        letter-spacing: 1.5px;
        padding: 30px 0 10px;
        @include pc{
            display: block;
        }
        &List{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include content-wrapper;
        @include spandtb{
                    @include content-wrapper--sp;
                }
    }
    &Item{
        font-style: italic;
        a{
            outline:none;
        }
    }
    }
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 46px;
    display: block;
    @include pc{    
        display: none;
    }
    @include tb{
        top:42px;
    }
    @include sp{
        width: 34px;
        height: 28px;
        top: 38px;
        left: 27px;
    }
  }

.bm-burger-bars {
    background: #2f2f2f;
    border-radius: 30px;
    height: 4px!important;
}
  
.bm-burger-bars-hover {
    background: #2f2f2f;
}

  .bm-cross-button {
    height: 26px;
    width: 26px;
  }

  .bm-cross {
    background: #bdc3c7;
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
    @include sp{
        width: 50%!important;
    }
  }
  
  .bm-menu {
    background: #fff;
    padding: 2.5em 0;
    font-size: 2.5rem;
  }
  
  .bm-morph-shape {
    fill: #fff;
  }

  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  .bm-item {
    display: inline-block;
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
  }

  .main{
      @include tb{
      padding-top: 140px;
    }
      @include sp{
      padding-top: 120px;
    }
  }


.page{
    &-title{
        font-family: $headline-font;
        line-height: 1;
        font-weight: 300;
        letter-spacing: 1.8px;
        font-size: 4rem;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
        @include tb{
            font-size: 3.5rem;
            margin-bottom: 40px;
        }
        @include sp{
            font-size: 3rem;
        }
    }
}


.posts{   
    margin-bottom: 70px;
    @include spandtb{
        margin: 0 0 70px;
    }
    &--top{
        margin-top: 20px;
    }
    &__info{
        display: flex;
        align-items: center;
        margin: 5px 0;
    }
    &__time{
        font-weight: 500;
        color: #c0c0c0;
        font-size: 1.2rem;
        margin-right: 10px;
    }
    &__tag{
        background: $bg-color;
        color: #ffffff;
        padding: 1px 6px;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 1px;
    }
    &__title{
        font-weight: bold;
        font-size: 1.5rem;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 740px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
        @include spandtb{
            @include content-wrapper--sp;
        }
        @include sp{
            justify-content: center;
        }
    }
    &__item{    
        width: 31%;
        margin-bottom: 50px;
        transition: 0.4s;
        @include tb{
            width: 47%;
        }
        @include sp{
            width: 100%;
        }
        &:hover{
        transform: translateY(-2px);
    }
    & a {
        display: block;
        width: 100%;
        height: 100%;
        &:hover{
        color: $theme-color;
        opacity: 0.7;
    }
    } 
    }
    &__more{
        text-align: center;
        font-family: $headline-font;
        font-size: 3.5rem;
        font-weight: 300;
        &Btn{
            border: 3px solid #2F2F2F;
            border-radius: 17px;
            padding: 3px 35px;
            display: inline-block;
            transition: 0.3s;
            &:hover{
                background-color: $bg-color;
                color: #ffffff;
                opacity: 1;
                border: 3px solid $bg-color;
            }
        }
    }
}


.post{
    @include content-wrapper;
    margin-bottom: 70px;
    @include spandtb{
        @include content-wrapper--sp;
    }
    &__info{
        display: flex;
        margin-top: 30px;
    }
    &__date{
        font-weight: 500;
        color: #c0c0c0;
        font-size: 1.6rem;
        margin-right: 10px;
    }
    &__tag{
        background: $bg-color;
        color: #ffffff;
        padding: 2px 7.5px;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    &__title{
        margin-bottom: 30px;
        font-size: 2.7rem;
        @include sp{
            line-height: 0.8;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__content{
        margin-bottom: 50px;
        a{
            // font-weight: 500;
            text-decoration: underline;
        }
        h2{
            margin: 30px 0 15px;
            line-height: 1.2;
            font-size: 2.1rem;
            border-bottom: 2px solid $theme-color;
        }
        pre{
            margin: 20px 0;
        }
        img{
            margin: 20px 0;
        }
    }
    &__index{
        display: flex;
        justify-content: space-between;
        align-items:center;
        &Item{
            font-size: 1.5rem;
            font-family: $text-font;
            @include sp{
                font-size: 1.2rem;
            }
        }
        img{
            width: 18px;
            padding: 0 5px;
            @include sp{
                width: 13px;
            }
        }
    }
    .about__profile{
        width: 500px;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        &Img{
        width: 110px;
        margin-right: auto;
        margin-left: auto;
        img{
            border-radius: 50%;
        }
    }
    &Desc{
        text-align: left;
        font-size: 1.3rem;
    }
    }
}


.about{
    @include content-wrapper;
    margin-bottom: 50px;
    text-align: center;
    @include spandtb{
        @include content-wrapper--sp;
    }
&__profile{
    &Img{
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    img{
        border-radius: 50%;
    }
}
}
&__name{
    font-family: $headline-font;
    font-weight: 400;
    letter-spacing: 2.2px;
    font-size: 3.3rem;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.5;
}
&__desc{
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #dddddd;
}
p{
    text-align: left;
}
}


.footer{
    &__wrapper{
        background-color: $bg-color;
        padding: 60px 0 40px;
        color: #ffffff;
        font-family: $headline-font;
        font-weight: 300;  
        @include spandtb{
            padding: 40px 0 20px;
        }  
        @include sp{
            padding: 20px 0 10px;
        }
    }
    &__nav{
        &List{
            margin-left: 100px;
            font-size: 3.3rem;
            display: flex;
            width: 350px;
            justify-content: space-between;
            align-items: center;
            @include tb{
                width: 250px;
                margin-left: 50px;
            }
            @include sp{
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
            }
        }
        &Item{
            & a{
                color: #ffffff;
                font-size: 2.3rem;
                &:hover{
                    color: $green-color!important;
                }
            }
        }
        &Item--forrow{
            width: 25px;
            @include sp{
                width: 20px;
            }
        }
    }
    &__copy{
        font-size: 1.5rem;
        text-align: right;
        margin-right: 40px;
        color: #bcbcbc;
        @include sp{
            margin-right: 10px;
            font-size: 1.3rem;
        }
    }
}

.not{
    @include content-wrapper;
}