@mixin for-sp {
  @media (max-width: 768px) { @content; }
}

@mixin for-pc {
  @media (min-width: 769px) { @content; }
}

@mixin content-wrapper{
  width: 740px;
  margin-right: auto;
  margin-left: auto; 
}