//=== COLORS ===
$body-bg-color: #ffffff;
$theme-color: #2F2F2F;
$bg-color: #0F1210;
$yellow-color: #F2D589;
$red-color: #FF5F68;
$green-color: #46A59B;

//=== FONTS ===
$headline-font: atrament-web, sans-serif; 
$text-font: Helvetica Neue, sans-serif;

//=== SIZES ===
$content-width: 960px;
